<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Usuarios</h3>
  <div id="link_botao">
   	<%= link_to 'Novo Usuario', new_core_adminusuario_path %>
  </div>
</div>
<table id="listar">
  <tr>
    <th class="titulo_lista">Nome</th>
    <th class="titulo_lista">Status</th>
  </tr>
	<% @usuarios.each do |usuario| %>
  <tr>
    <td class="itens_index"><%= link_to usuario.nome, core_adminusuario_path(usuario) %></td>
    <td class="itens_index"><%=h status(usuario.status) %></td>
  </tr>
  <% end %>
</table>

