
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
          <div class="caixa">
            <div class="n">
            1
            </div>
          Suspendisse volutpat fringilla nibh,
           sed laoreet velit aliquet sit amet.
            Ut eu felis at diam aliquet porttitor.
             Fusce quam ligula, cursus eu tristique hendrerit,
              accumsan sit amet purus. Nam imperdiet, mi id pellentesque elementum,
               arcu metus bibendum urna, non fringilla metus enim eget mi.
               Mauris sapien nunc, molestie non condimentum a, laoreet vitae nibh.
                Mauris pharetra scelerisque molestie. Proin vel sem eu ligula venenatis sagittis sed at sem.
                 Mauris tempus eros malesuada urna consequat interdum.
                  Donec quis risus ac lectus ultrices semper et ac urna.

          </div>
          <div class="caixa">
          <div class="n">
            2
            </div>
          Suspendisse volutpat fringilla nibh,
                  Donec quis risus ac lectus ultrices semper et ac urna.
                   Etiam volutpat scelerisque urna ut vestibulum.
                    Duis aliquam egestas nisl, vel laoreet metus euismod in.
                     Nullam nec urna id purus sagittis malesuada.
                      Suspendisse fermentum luctus odio,
                      vitae tincidunt augue viverra vel.
                      Pellentesque purus magna, porttitor
                       sit amet accumsan a, aliquet non mi.
          </div>
          <div class="caixa">
          <div class="n">
            3
            </div>
          Suspendisse volutpat fringilla nibh,
                  Donec quis risus ac lectus ultrices semper et ac urna.
                   Etiam volutpat scelerisque urna ut vestibulum.
                    Duis aliquam egestas nisl, vel laoreet metus euismod in.
                     Nullam nec urna id purus sagittis malesuada.
                      Suspendisse fermentum luctus odio,
                      vitae tincidunt augue viverra vel.
                      Pellentesque purus magna, porttitor
                       sit amet accumsan a, aliquet non mi.
          </div>
          <div class="caixa">
          <div class="n">
            4
            </div>
          Suspendisse volutpat fringilla nibh,
                  Donec quis risus ac lectus ultrices semper et ac urna.
                   Etiam volutpat scelerisque urna ut vestibulum.
                    Duis aliquam egestas nisl, vel laoreet metus euismod in.
                     Nullam nec urna id purus sagittis malesuada.
                      Suspendisse fermentum luctus odio,
                      vitae tincidunt augue viverra vel.
                      Pellentesque purus magna, porttitor
                       sit amet accumsan a, aliquet non mi.
                       <div style="clear: both"></div>

          </div>
          <div class="caixa">
          <div class="n">
            5
            </div>
          Suspendisse volutpat fringilla nibh,
                  Donec quis risus ac lectus ultrices semper et ac urna.
                   Etiam volutpat scelerisque urna ut vestibulum.
                    Duis aliquam egestas nisl, vel laoreet metus euismod in.
                     Nullam nec urna id purus sagittis malesuada.
                      Suspendisse fermentum luctus odio,
                      vitae tincidunt augue viverra vel.
                      Pellentesque purus magna, porttitor
                       sit amet accumsan a, aliquet non mi.
          </div>

