<div id="barra_titulo">
  <h3 class="titulo_index">Lista de <%= @formulario.titulo %></h3>
  <div id="link_botao">
    <%= link_to 'Novo Cadastro', new_ecm_formulario_cadastro_path(@formulario) %>
  </div>
</div>
<div id="busca">
  <%= render :partial=>"busca" %>
</div>
<table id="listar">
    <div id="cadastros">
    </div>
</table>

