<div id="barra_titulo">
  <h3 class="titulo_index_infowiki">InfoWiki</h3>
  <div class="new_categoria"><%= link_to_remote "Nova Categoria", :url=>(url_for(new_wiki_wikicategoria_path)), :method=>"get" %></div>
</div>
<table id="wiki">
  </tr>
    <th class="titulo_wiki">InfoWiki</th>
    <th class="titulo_categoria">
        <h3>Categorias</h3>
    </th>
  </tr>
  <tr>
    <td class="conteudo_wiki">
      <h3>Busca no Conteúdo Wiki</h3>
      <% form_remote_tag :url=>{:controller=>"/wiki/wikicategorias/busca"} do -%>
        <%= text_field_tag :filtro %>
        <%= submit_tag 'Buscar' %>
      <% end -%>
      <div id="busca_wiki">
      </div>
    </td>
    <td class="itens_index">
      <div id="categorias">
        <%= render(:partial => "categorias") %>
      </div>
    </td>
  </tr>
</table>

