<div class="secoes">
  <h2>Clientes</h2>

  <span class="cliente">
    <img src="/images/detran.png" />
    <p>DETRAN/AP - Departamento de Transito do Amapá</p> 
  </span>
  <span class="cliente">
    <img src="/images/logo-Sead.gif" height="40px" />
    <p>SEAD/AP - Secretaria de Administração Publica do Amapá</p> 
  </span>
  <span class="cliente">
    <img src="/images/policivil.png" height="60px" />
    <p>  Policia Civil do Estado do Amapá</p> 
  </span>
  <span class="cliente">
    <img src="/images/90px-Brasao_macapa.jpg" height="60px" />
    <p> PMM -  Prefeitura Municipal de Macapá</p> 
  </span>

</div>
