<div id="depoimentos_show">
  <div id="dep_cab">
    <div id="img_wellington">
      <img src="/images/wellintom_campos.png" height="169px" />
    </div>

    <h5>SEAD</h5>
    <h5>Wellington de Carvalho Campos<br>Entervista na Docoment Management - Junho de 2008</h5>
  </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Um grande volume de informações vinha sendo gerado desde a criação do Estado do Amapá
  há 20 anos.<br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;A opção da Secretária de Administração do Estado, foi a de utilizar ferramentas de tecnologia da informação através da
  contratação de uma empresa local, a Infomanager especializada na digitalização e gestão de documentos que atua no Norte
  do país. Com isso, a SEAD foi capaz de sistematizar a disseminação e o compartilhamento da informação e do conhecimento,
  com explicitação das diversas formas de vinculações e inter-relacionamentos entre setores da secretária e do próprio
  governo do Estado. "Pensando neste   parâmetro é que o nosso objetivo maior está sendo alcançado, que vem a ser a otimização
  dos processos bem como a diminuição do espaço físico ocupado com documentos em áreas de alto custo, organização de
  informações, segurança ,agilidade no tratamento com fiscalização e tomada de decisões e muitas outras vantagens exigidas
  frente ao constante crescimento do volume de nossos arquivos com informações de servidores e do patrimônio do Estado e aos
  problemas que eles gera”, reforça o secretário Wellington de Carvalho Campos.<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;Com isso, já conseguimos minimizar, a burocracia, analisar o valor agregado, tarefas duplicadas, tempo do ciclo  das ações,redução de erros, simplificação de processos e atividades, padronização, parcerias e inclusive otimizar o uso de tecnologia para isso, sem contar com as vantagens adicionais como o trabalho online e na geração de relatórios de produtividade por
	usuários e os seriços de auditoria”, reforça o secretário do Amapá.<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;Houve um redesenho e melhoria dos processos e a criação catálogo conforme a necessidade de cada área com resumo das
	informações e com a possibilidade de geração de relatórios, além de hoje ser possível a reconstituição e a reativação
	eletrônica de documentos extraviados e/ou perdidos, com controle e qualidade total das informações, diagnóstico  situacional
	do acervo do acervo da secretária. Como resultado prático a SEAD está conseguindo uma redução no espaço, com guarda de papel,
	facilidade na localização e disponibilização de forma imediata dos documentos necessários, reduzindo tempo e custos,
	agregando informação à gestão da Secretária.<br><br>
	<span class="depoimento_txt">Execução do Projeto</span><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;O projeto de digitalização de documentos da secretária teve inicio em fevereiro de 2008 e já nasceu com um prazo definido
	para sua conclusão, que foi de julho passado. Foram previstas inicialmente um milhão digitalizadas, porém até  a conclusão
	do projeto este volume aumentou para oito milhões de digitalizações.<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;“O projeto prevê ainda uma segunda e terceira etapas e ultima fase que é a publicação do Diário Oficial do Estado do Amapá
	online com intenção de todas as secretárias que terá inicio ainda neste segundo semestre”, complementada a diretora da
	infomanager, Rita Fonseca.<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;“Agregamos conhecimento teórico e prático ao esperado ao cliente, além de permitir ampliar nosso portifólio de ofertas
	a outros projetos como o de resgate do acervo histórico do Estado para fins de pesquisa”, finaliza Rita Fonseca.</p>
  </div>
</div>
