<div class="secoes">
  <h2>Noticias</h2>
  <span>
    
        <h3>Prefeitura de Macapá Economiza R$ 2.000.000,00 com o uso do InfoDoc</h3>
        <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer metus arcu, interdum ac vehicula non, lobortis in lorem. Duis sed dui augue, ut dignissim augue. Praesent elementum ornare auctor. Nunc ut cursus nisl. Donec in eros a elit laoreet pretium ac et nulla. Ut quis diam et ligula ultrices hendrerit. Etiam semper egestas purus ut dapibus. Curabitur at congue lacus. Sed a orci quis purus imperdiet mollis et ut mi. Suspendisse faucibus tempus bibendum.</p>

  </span>
  <span>
    
        <h3>Outra Noticia Importantes</h3>
        <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer metus arcu, interdum ac vehicula non, lobortis in lorem. Duis sed dui augue, ut dignissim augue. Praesent elementum ornare auctor. Nunc ut cursus nisl. Donec in eros a elit laoreet pretium ac et nulla. Ut quis diam et ligula ultrices hendrerit. Etiam semper egestas purus ut dapibus. Curabitur at congue lacus. Sed a orci quis purus imperdiet mollis et ut mi. Suspendisse faucibus tempus bibendum.</p>

  </span>
  <span class="degrade">
    <h3>  Outras Notícias</h3>
    <ul class="listanoticias">
      <li>  <a href="#">22-09-2009 - Noticias</a></li>
      <li>  <a href="#">21-09-2009 - Noticias</a></li>
    </ul>
  </span>
</div>
