<div class="secoes">
  <h2>Serviços</h2>

  <span>
    <h5>DIGITALIZAÇÃO</h5>
    <img src="/images/digitaliza.jpg" height="80px" />
    <p>
      Os dados são transferidos para servidores, onde as informações ficam armazenadas em formato digital, 
      proporcionando grande economia de  tempo e dinheiro, tanto na emissão dos relatórios quanto na 
      localização e consulta.
    </p> 
  </span>
  <span>
    <h5>ARMAZENAGEM</h5>  
    <img src="/images/armazena.jpg" height="80px" />
    <p>
      Cada tipo de documento necessita de um ambiente e um meio adequado de manuseio e guarada. Para atender estes
      requisitos a INFOMANAGER dipõe de ambientes e equipes especificas e qualificadas para gerenciar documentos
      em papel ou em outras mídias.
    </p> 
  </span>
  <span>
    <h5>DISPONIBILIDADE</h5>
    <img src="/images/notebook.jpg" height="80px"  />
    <p>
        A INFOMANAGER conta com sistemas de alta disponibilidade que gerenciam e organizam os documentos,
        tornando assim a busca documental simples e acessível. Nossos clientes, em qualquer parte do mundo, podem
        contar com o serviço de consulta on-line através do nosso site, que permite acesso a seus arquivos com
        segurança mediante identificação de sua chave eletrônica fornecida por nosso sistema.
    </p> 
  </span>
  
</div>
