	<%= link_to 'Novo Grupo', :action=>"new", :entidade_id=>@grupos[0].entidade.id if @grupos %>
	<table>
	  </tr>
	    <th>Nome</th>
	    <th>Descrição</th>
	  </tr>
	  <% @grupos.each do |grupo| %>
	  <tr>
	    <td><%= link_to grupo.nome, core_grupo_path(grupo) %></td>
	    <td><%=h grupo.descricao %></td>
	  </tr>
	  <% end %>
	</table>

