<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Grupos</h3>
  <div id="link_botao"><%= link_to 'Novo Grupo', new_core_entidade_grupo_path(@entidade) %></div>
</div>

<table id="listar">
 </tr>
   <th class="titulo_lista">Nome</th>
   <th class="titulo_lista">Status</th>
  </tr>
  <% @grupos.each do |grupo| %>
  <tr>
    <td class="itens_index"><%= link_to grupo.nome, core_entidade_grupo_path(@entidade, grupo) %></td>
    <td class="itens_index"><%= status(grupo.status) %>
  </tr>
  <% end %>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', core_entidades_path %>
</div>

