<div id="ferramentas">
  <h3 class="h3_index">Lista de Grupos</h3>
</div>
 	<%= link_to 'Novo Grupo', new_core_entidade_grupo_path(@entidade) %>
  <table id="tabela_listar_index">
   </tr>
     <th class="titulo_item_index">Nome</th>
    </tr>
    <% @grupos.each do |grupo| %>
    <tr class="linha_item_index">
      <td class="item_index"><%= link_to grupo.nome, core_entidade_grupo_path(@entidade, grupo) %></td>
    </tr>
    <% end %>
  </table>
</div>

