<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Grupos</h3>
  <div class="new_grupo"><%= link_to 'Novo Grupo', new_core_admingrupo_path %></div>
</div>
<table id="listar">
  </tr>
    <th class="titulo_lista">Nome</th>
    <th class="titulo_lista">Itens</th>
  </tr>
    <% @grupos.each do |grupo| %>
    <tr>
      <td class="itens_index"><%= link_to grupo.nome, core_admingrupo_path(grupo) %></td>
      <td class="itens_index"><%= link_to "Usuarios", core_admingrupo_grupousuarios_path(grupo) %> |
      <%= link_to "Sistemas", core_admingrupo_gruposistemas_path(grupo) %></td>
    </tr>
	  <% end %>
</table>

