<div id="barra_titulo">
  <h3 class="titulo_new">Auditoria de Cadastros Relacionados</h3>
</div>
  <% form_remote_tag :url=>{:controller=>'/ecm/auditoriaproducaos'}, :action=>'create' do -%>
    <%= hidden_field_tag :tipo, "relacionados" %>
    <tr>
      <td class="lista_item">Formulario Pai</td>
      <td class="lista_conteudo"><%= select_tag :formulario_pai, option_groups_from_collection_for_select(Formulariocategoria.da_entidade(@sessao_usuario.entidade_id).all, :formularios, :nome, :id, :titulo, 3)  %></td>
    </tr>
    <tr>
      <td class="lista_item">Formulario Filho</td>
      <td class="lista_conteudo"><%= select_tag :formulario_filho, option_groups_from_collection_for_select(Formulariocategoria.da_entidade(@sessao_usuario.entidade_id).all, :formularios, :nome, :id, :titulo, 3)  %></td>
    </tr>
    <tr>
      <td class="lista_item"/>
      <td class="lista_conteudo"><%= submit_tag 'Filtrar', :class=>"botao_formulario" %></td>
    </tr>
  <% end %>
<div id="resultado"></div>

