
<table id="listar">
    <thead>
      <tr>
        <th colspan="2">foram encontrados <%= @cadastros.size.to_s %> cadastros irregulares</td>
      </tr>
      <tr>
        <th class="titulo_lista">Cadastro</th>
        <th class="titulo_lista">Artefatos</th>
      </tr>
    </thead>
    <tbody>
      <% @cadastros.each do |c| %>
      <tr>
        <td class="itens_index">
          <%= @principal.rotulo %>: 
          <%= link_to ecm_show_cadastro_item(@principal, c), ecm_formulario_cadastro_path(c.formulario_id, c) %>
        </td>
        <td class="itens_index"><%= c.children.size.to_s %></td>
      </tr>
	  <% end %>
    </tobody>
</table>
