<div id="barra_titulo">
  <h3 class="titulo_relatorio_producao">Auditoria de Produção</h3>
</div>
<div id ="auditoria_de_producao">
  <table id="listar">
    <tr>
      <th class="titulo_lista">Relatorio Disponiveis</th>
    </tr>
    <tr>
      <td class="itens_index"><h3><%= link_to_remote "Auditoria de Artefatos por Cadastros", :url=>(url_for(ecm_auditoriaproducao_path("artefato"))), :method=>"get" %></h3></td>
    </tr>
    <tr>
      <td class="itens_index"><h3><%= link_to_remote "Auditoria de Relacionamento entre Cadastros", :url=>(url_for(ecm_auditoriaproducao_path("relacionados"))), :method=>"get" %></h3></td>
    </tr>
    <tr>
      <td class="itens_index"><h3><%= link_to_remote "Auditoria de Dados de Cadastros", :url=>(url_for(ecm_auditoriaproducao_path("dados"))), :method=>"get" %></h3></td>
    </tr>
    <tr>
      <td class="itens_index"><h3><%= link_to_remote "Extrato de Produção por Usuario", :url=>(url_for(ecm_auditoriaproducao_path("extrato"))), :method=>"get" %></h3></td>
    </tr>
  </table>
  <div id="filtro"></div>
</div>

