<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Comentarios</h3>
  <div class="hide_comentario">
    <%= link_to_remote "Esconder Comentarios", :url=>{:controller=>"/wiki/wikicomentarios", :action=>"clean"}, :method=>"get" %>
  </div>
  <div class="new_comentario">
    <%= link_to_remote "Novo Comentario", :url=>(url_for(new_wiki_wikipage_wikicomentario_path(@wikipage))), :method=>"get" %>
  </div>
</div>
<div id="new_comentario">
</div>
<div id="listar">
    <% @wikipage.comentarios.each do |comentario| %>
      <div class="itens_index">
        <b><%= comentario.usuario.nome %>:</b>&nbsp;
        <%= comentario.conteudo %><br>
      </div>
	  <% end %>
</div>

