<div id="barra_titulo">
  <h3 class="titulo_index">Lista de Modulos</h3>
  <div class="new_modulo">
    <%= link_to 'Nova Modulo', new_core_modulo_path %>
  </div>
</div>
<table id="listar">
  <tr>
    <th class="titulo_lista">Nome</th>
    <th class="titulo_lista">Status</th>
    <th class="titulo_lista"></th>
  </tr>
  <% @modulos.each do |modulo| %>
  <tr>
    <td class="itens_index"><%= link_to modulo.nome, core_modulo_path(modulo) %></td>
    <td class="itens_index"><%= status(modulo.status) %></td>
    <td class="itens_index"><%= link_to "Sistemas", core_modulo_sistemas_path(modulo) %></td>
  </tr>
  <% end %>
</table>

