<h3>Modulo</h3>
Nome: <%= @modulo.nome %><br>
Descrição: <%= @modulo.descricao %><br>

<%= link_to 'Editar', edit_core_modulo_path(@modulo) %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Voltar', core_modulos_path %>

