<div id="barra_titulo">
  <h3 class="titulo_index">Lista de <%= @formulario.titulo %></h3>
  <div class="ajuda">
    <%= link_to "Ajuda", ecm_formulario_ajudas_formulario_path(@formulario,1), :popup=>true %>
  </div>
</div>
<div id="busca">
  <%= render :partial=>"busca" %>
</div>

    <div id="cadastros">
    </div>


