<div id="barra_titulo">
  <h3 class="titulo_show">Exibindo <%= @formulario.titulo %></h3>
  <div class="ajuda">
    <%= link_to "Ajuda", ecm_formulario_ajudas_formulario_path(@formulario,1), :popup=>true %>
  </div>  
</div>

<table id="listar">
  <% @formulario.itensformularios.sort_by{|it| it.posicao}.each do |form_item| %>
  <tr>
    <td class="lista_item"><%= form_item.rotulo %></td>
    <td class="lista_conteudo"><%= ecm_show_cadastro_item(form_item, @cadastro) %></td>
  </tr>
  <% end %>
</table>

<div id="link_voltar">
  <%= link_to 'Voltar', ecm_formulario_cadastros_path(@formulario) %>
  <div id="show_actions">
   <%= link_to_remote "Artefatos", :url=>(url_for(ecm_cadastro_artefatos_path(@cadastro))), :method=>"get" %> |
  </div>
</div>
<div id="artefatos">

