<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </script>
    <title>INTRANET :: Infomanager</title>
    <%= stylesheet_link_tag "/theme/#{@sessao_usuario.entidade.tema}/stylesheets/intranet.css" %>
  </head>
  <body>
    <div id="clean_tudo">
    <div id="clean_topo">
    &nbsp;
    </div>
      <div id="cleam_conteudo">
       <%= yield %>
      </div>
    </div>
    <div id="rodape_clean">

    </div>
  </body>
</html>

