<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <head>
	  <title>Infomanager - Gertão Digital de Informação</title>
	    <%= stylesheet_link_tag "intranet.css" %>
  </head>
  <body>
    <div id="tudo">
        <div id="imagem_mouse">
          <img src="/images/mouse.jpg">
        </div>
        <%= yield %>
    </div>
  </body>
</html>
