<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <head>
	  <title>Infomanager - Gertão Digital de Informação</title>
	    <%= stylesheet_link_tag "/theme/infodoc/stylesheets/intranet.css" %>
	    <%= stylesheet_link_tag "/theme/infodoc/stylesheets/estilo.css" %>
  </head>

  <body>
   <body>
    <div id="topo_login">
        <div id="logo_login">
          
          <b>Acesso Privativo</b>
        </div>
    </div>
    <div id="login_tudo">
      <div id="login_conteudo">
       <%= yield %>
      </div>
    </div>
    <div id="link_voltar">
      <%= link_to 'Voltar',"/"  %>
    </div>
    <div id="rodape_login">
    </div>
  </body>
</html>
